:root {
  --mint-: #53FFAB;
}



body {
  font-family: 'Poppins', sans-serif;
}

.dice {
  box-shadow: 0 0 1px var(--mint-); 
  transition: box-shadow 300ms ease-out;
}

.dice:hover {
  box-shadow: 0px 0px 30px 2px var(--mint-);
  transition: box-shadow 300ms ease-in-out;
}

@media screen and (min-width: 580px) {
  
}