:root {
  --mint-: #53FFAB;
}



body {
  min-width: 333px;
  font-family: 'Poppins', sans-serif;
}

.dice {
  box-shadow: 0 0 1px var(--mint-); 
  transition: box-shadow 300ms ease-out;
}

.dice:hover {
  box-shadow: 0px 0px 30px 2px var(--mint-);
  transition: box-shadow 300ms ease-in-out;
}

.desktop {
  display: none;
}

.line {
  stroke-dasharray: 415;
  stroke-dashoffset: 0;
  animation: draw 2000ms ease-in-out forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 0
  }

  
  15% {
    stroke-dashoffset: 415
  }

  100% {
    stroke-dashoffset: 0
  }
}
@media screen and (min-width: 640px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

}